.main-reply-comment {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  .image-comment-time-name {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    grid-gap: 15px;
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
    .name-time-comment {
      display: flex;
      flex-direction: column;
      .name-time {
        display: flex;
        grid-gap: 5px;
        text-align: center;
        h4 {
          font-size: 17px;
          font-weight: 600;
          color: #404040;
        }
        span {
          font-size: 14px;
          color: #404040;
          display: flex;
          align-items: center;
        }
      }
      p {
        font-size: 15px;
        font-weight: 500;
        margin-top: 5px;
        color: #404040;
      }
      .reply-btn {
        button {
          margin-top: 10px;
          color: #fff;
          border-color: #34e724;
          background-color: #34e724;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-weight: 400;
          border: 1px solid transparent;
          padding: 2px 6px;
          font-size: 13px;
          border-radius: 5px;
          transition: all 0.5s;
        }
      }
      .reply-box.show {
        display: flex;
      }
      .reply-box {
        display: none;
        flex-direction: column;
        grid-gap: 12px;
        .image-input {
          margin-top: 8px;
          display: flex;
          justify-content: start;
          grid-gap: 10px;
          img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
          }
          input {
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 1px solid gray;
          }
        }
        .reply-submit {
          display: flex;
          justify-content: flex-end;
          grid-gap: 8px;
          button.cancel {
            background-color: rgb(247, 26, 26);
          }
          .submit,
          .cancel {
            color: #fff;
            background-color: #fa5c7c;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            cursor: pointer;
            border: 1px solid transparent;
            padding: 5px 10px;
            font-size: 13px;
            border-radius: 5px;
          }
        }
      }
      .reply-comment {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        .reply-comment-image-name-time {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          grid-gap: 15px;
          img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .action {
    cursor: pointer;
    margin: 2%;
  }
}
.comment-submit {
  margin-top: 30px;
  h3 {
    color: #404040;
  }
  .form-group {
    .form-control {
      height: 130px;
      padding: 13px;
      border-radius: 4px;
    }
    .btn {
      background-color: #e6c719;
      color: #fff;
    }
  }
  .login-first {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
    li {
      transition: all 0.5s;
      color: #fff;
      span {
        display: flex;
      }
      button,
      a {
        background-color: transparent;
        color: #fff;
        text-decoration: none;
      }
      &:nth-child(1) {
        background-color: #7443e9;
        border-color: #4826dd;
        &:hover {
          background-color: #6d3be0;
        }
      }
      &:nth-child(2) {
        background-color: #fa5c7c;
        border-color: #4826dd;
        &:hover {
          background-color: #ec4d6d;
        }
      }
      &:nth-child(3) {
        background-color: #f44336;
        border-color: #8862e0;
        &:hover {
          background-color: #d14014;
        }
      }
    }
  }
}
