.all-sub-admin {
  .elements-numberOf-search-add-new {
    padding: 15px;
    background-color: #fff;
    box-shadow: var(--shadow_color);
    .loading-elements{
        .elements{
            padding-top: 15px;
            table{
                
            }
        }
    }
  }
}
