.dashboard-comments {
  .comments {
    background-color: #fff;
    padding: 15px;
    border-radius: 2px;

    h3 {
      color: #404040;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
}
